extends layout

block layout-content

    .container-fluid

        nav.navbar.navbar-expand-lg.navbar-light.bg-light.rounded(aria-label='Twelfth navbar example')
            .container-fluid
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarsExample10' aria-controls='navbarsExample10' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarsExample10.collapse.navbar-collapse.justify-content-md-center
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href='#') About
                        li.nav-item
                            a.nav-link(href='#') Contact

        .px-4.pt-5.my-5.text-center.border-bottom
            h1.display-4.fw-bold Stevan Rose
            .col-lg-6.mx-auto
                p.lead.mb-4
                    | Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.

        .b-example-divider

        .container.col-xxl-8.px-4.py-5.border-bottom
            .row.flex-lg-row-reverse.align-items-center.g-5.py-5
                .col-10.col-sm-8.col-lg-6
                    img.d-block.mx-lg-auto.img-fluid(src='https://source.unsplash.com/zoCDWPuiRuA' alt='Agile picture' loading='lazy' width='700' height='500')
                .col-lg-6
                    h1.display-5.fw-bold.lh-1.mb-3 Passionate about agile
                    p.lead
                        | Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.

        .b-example-divider

        .container.col-xxl-8.px-4.py-5.border-bottom
            .row.flex-lg-row-reverse.align-items-center.g-5.py-5
                .col-lg-6
                    h1.display-5.fw-bold.lh-1.mb-3 Passionate about delivery
                    p.lead
                        | Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.
                .col-10.col-sm-8.col-lg-6
                    img.d-block.mx-lg-auto.img-fluid(src='https://source.unsplash.com/YiSD-1eJ_1g' alt='Delivery picture' loading='lazy' width='700' height='500')

        .b-example-divider

        .container.col-xxl-8.px-4.py-5.border-bottom
            .row.flex-lg-row-reverse.align-items-center.g-5.py-5
                .col-10.col-sm-8.col-lg-6
                    img.d-block.mx-lg-auto.img-fluid(src='https://source.unsplash.com/sggw4-qDD54' alt='Teamwork picture' loading='lazy' width='700' height='500')
                .col-lg-6
                    h1.display-5.fw-bold.lh-1.mb-3 Passionate about teamwork
                    p.lead
                        | Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.

        .b-example-divider

        .container.col-xxl-8.px-4.py-5.border-bottom
            .row.flex-lg-row-reverse.align-items-center.g-5.py-5
                .col-lg-6
                    h1.display-5.fw-bold.lh-1.mb-3 Passionate about people
                    p.lead
                        | Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.
                .col-10.col-sm-8.col-lg-6
                    img.d-block.mx-lg-auto.img-fluid(src='https://source.unsplash.com/g1Kr4Ozfoac' alt='People picture' loading='lazy' width='700' height='500')

        .b-example-divider

        .container.col-xxl-8.px-4.py-5.border-bottom
            .row.flex-lg-row-reverse.align-items-center.g-5.py-5
                .col-10.col-sm-8.col-lg-6
                    img.d-block.mx-lg-auto.img-fluid(src='https://source.unsplash.com/B3l0g6HLxr8' alt='Coding picture' loading='lazy' width='700' height='500')
                .col-lg-6
                    h1.display-5.fw-bold.lh-1.mb-3 Passionate about coding
                    p.lead
                        | Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.

        .b-example-divider

        .container.col-xxl-8.px-4.py-5.border-bottom
            .row.flex-lg-row-reverse.align-items-center.g-5.py-5
                .col-lg-6
                    h1.display-5.fw-bold.lh-1.mb-3 Passionate about technology
                    p.lead
                        | Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.
                .col-10.col-sm-8.col-lg-6
                    img.d-block.mx-lg-auto.img-fluid(src='https://source.unsplash.com/SYTO3xs06fU' alt='Technology picture' loading='lazy' width='700' height='500')

        .b-example-divider
